* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: #ddd;
}

img {
    width: 150px;
}

.taskHolder {
    float: left;
}

.task {
    display: block;
    border: solid red 1px;
    padding: 1%;
}